body {
  margin: 0;
  padding: 0;
  background: #0d47a1;
  font-family: 'Lato, sans-serif';
}

@font-face {
  src: url('./Assets/fonts/ArchivoBlack-Regular.ttf');
  font-family: 'Archivo Black, sans-serif';
}

@font-face {
  src: url('./Assets/fonts/Lato-Regular.ttf');
  font-family: 'Lato, sans-serif';
}

@font-face {
  src: url('./Assets/fonts/Montserrat-Regular.ttf');
  font-family: 'Monteserrat, sans-serif';
}

@font-face {
  src: url('./Assets/fonts/Judson-Regular.ttf');
  font-family: 'Judson, sans-serif';
}

@font-face {
  src: url('./Assets/fonts/Damion-Regular.ttf');
  font-family: 'Damion, cursive';
}

@font-face {
  src: url('./Assets/fonts/Pacifico-Regular.ttf');
  font-family: 'Pacifico, cursive';
}